{{- if and .Values.persistence.enabled .Values.persistence.backup.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "evcc.fullname" . }}-litestream
  labels:
    {{- include "evcc.labels" . | nindent 4 }}
data:
  litestream.yml: |
    dbs:
      - path: {{ .Values.persistence.databasePath }}
        monitor-interval: 1m
        checkpoint-interval: 1m
        replica:
          {{- if eq .Values.persistence.backup.type "s3" }}
          # url: s3://{{ .Values.persistence.backup.s3.endpoint }}/{{ trimPrefix "/" .Values.persistence.backup.s3.path }}/evcc.db
          {{- end }}
          type: s3
          {{- if .Values.persistence.backup.s3.region }}
          region: {{ .Values.persistence.backup.s3.region }}
          {{- end }}
          {{- if .Values.persistence.backup.s3.endpoint }}
          endpoint: {{ .Values.persistence.backup.s3.endpoint }}
          {{- end }}
          {{- if .Values.persistence.backup.s3.bucket }}
          bucket: {{ .Values.persistence.backup.s3.bucket }}
          {{end}}
          {{- if .Values.persistence.backup.s3.path }}
          path: {{ .Values.persistence.backup.s3.path }}
          {{end}}
          sync-interval: 1m
{{- end }}

